services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/app/app
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/blog_db
      - SECRET_KEY=your-secret-key-change-this
    command: >
      sh -c "sleep 5 &&  # Добавляем задержку
             python -c 'from app.database import engine; from app.models import Base; Base.metadata.create_all(bind=engine)' &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=blog_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: